<!-- FOOTER START
            ============================================= -->
<footer id="footer" class="wrapper clearfix">


    <div class="footer-text wow fadeIn text-center">

        <a routerLink="">
            <img class="img-fluid" style="margin: 0 auto;" width="200" src="assets/img/logo_v.png" alt="">
        </a>
        <!--p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p-->
    </div>



    <div class="footer-copyright wow fadeIn text-center">
        <div class="container">
            <div class="copyright">
                <ul class="footer-social">
                    <!--li><a href="http://twitter.com"><i class="icon icon-twitter"></i></a></li-->
                    <li><a routerLink=""><i class="icon icon-facebook"></i></a></li>
                    <li><a routerLink=""><i class="icon icon-dribble"></i></a></li>
                    <!--li><a href="http://googleplus.com"><i class="icon icon-googleplus"></i></a></li-->
                    <!--li><a routerLink=><i class="icon icon-whatsapp"></i></a></li-->

                </ul>

                <p>Copyright 2020 Grupo EDCA. All Right Reserved. By <a href="https://rocketcodeone.com" target="_blank">RocketCodeOne</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->