<app-header></app-header>
<section id="slider-2" class="flexslider-wrap fullscreen clearfix" #home>
    <div class="flexslider clearfix">
        <ul class="slides">
            <li data-thumb="">
                <img class="img-fixed" src="assets/img/content/slider/trabajo.jpg" alt="" />
                <div class="slider-text-form-wrap vertical-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="slider-text-work wow fadeIn" da ta-wow-delay="0.5s">
                                    <h2 class="wow fadeInLeft" data-wow-delay="1s">Intégrate a <br>Nuestro equipo</h2>
                                    <p class="wow fadeIn" data-wow-delay="1.5s">Déjanos tus datos y sé parte de Grupo EDCA.</p>

                                    <!--a routerLink="" class="button-normal yellow wow fadeIn" data-wow-delay="2.5s">Conoce más</a-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="slider-text-form-wrap vertical-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                </div>

                <div class="slider-form-work col-10 col-md-4 wow fadeIn text-center" data-wow-delay="0.5s" style="z-index: 10 !important;">
                    <div class="form-wrap">
                        <div class="form-appointment">
                            <form method="post" action="contact.php">
                                <input type="text" name="name" id="name" placeholder="Nombre" />
                                <input type="text" name="email" id="email" placeholder="Email" />
                                <input type="text" name="phone" placeholder="Whatsapp">

                                <textarea name="message" id="message" cols="10" rows="2" placeholder="Mensaje"></textarea>

                                <button class="button-normal yellow">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="add-section-contact">

</div>
<!-- SLIDER END -->
<app-footer></app-footer>